h2 {
  text-align: center;
}

.game-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-type-label {
  margin: 0 20px;
}

.game {
  display: flex;
  justify-content: space-around;
}

.rules {
  display: flex;
  flex-direction: column;
}

.rules-div {
  position: relative;
}

.game-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-button {
  padding: 10px;
  margin: 5px;
  background-color: lightskyblue;
  border-radius: 5px;
}

.game-logger {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0;
  }
}

.rules-img {
  width: 500px;
  height: 500px;
}
